.txt{
  width: 400px; /* ajusta el ancho del div a 400 píxeles */
  height: 400px;
    color: white;
    background-color: rgb(4, 4, 59);
     
   
    position: absolute;
    right: 50px; /* ajusta el valor para mover la sección horizontalmente */
    top: 50%; /* establece el valor al 50% para mover la sección verticalmente al centro */
    transform: translateY(-50%); /* mueve la sección hacia arriba la mitad de su altura */
    padding: 50px /* para que los elementos ddentro no agarren todo el div*/
    
}
.usuario{
    text-align: center;
}
#usuario{
    max-width: 100%; 
  margin: 0; 
  padding: 0; 
}
#buttonLog{
    
    padding: 5px 30px; /* altura y ancho de algo*/
    font-size: large;
    color: white;
    background-color: rgb(83, 83, 83);
    margin-top: 10px; 
}
#fondo{
    background-color: black;
    /* background-image: url(); */
 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  width: 50%;
  height: 100%; 
 

}
.overlay {
    position: absolute;
    width: 20%; /* establece el ancho de la segunda imagen según tus necesidades */
    height: auto;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    background: none;
  }

  .overlay img {
    display: block;
    width: 70%;
    height: auto;
  }